* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }

  body{
    background-image: url(./img/anime-girl-windows-11-4k-wallpaper-uhdpaper.com-320@2@b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }